---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
{% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
{% include back-link.html %}
{% else %}
<header class="site-masthead">
  <div class="circular-text">
    <span style="transform: rotate(210deg);">d</span>
    <span style="transform: rotate(220deg);">e</span>
    <span style="transform: rotate(230deg);">n</span>
    <span style="transform: rotate(240deg);">t</span>
    <span style="transform: rotate(250deg);">r</span>
    <span style="transform: rotate(260deg);">o</span>
    <span style="transform: rotate(270deg);"> </span>
    <span style="transform: rotate(280deg);">d</span>
    <span style="transform: rotate(290deg);">o</span>
    <span style="transform: rotate(300deg);">s</span>
    <span style="transform: rotate(310deg);"> </span>
    <span style="transform: rotate(320deg);">l</span>
    <span style="transform: rotate(330deg);">i</span>
    <span style="transform: rotate(340deg);">v</span>
    <span style="transform: rotate(350deg);">r</span>
    <span style="transform: rotate(360deg);">o</span>
    <span style="transform: rotate(370deg);">s</span>
    <span style="transform: rotate(380deg);"> </span>
    <span style="transform: rotate(390deg);">a</span>
    <span style="transform: rotate(400deg);">s</span>
    <span style="transform: rotate(410deg);"> </span>
    <span style="transform: rotate(420deg);">p</span>
    <span style="transform: rotate(430deg);">a</span>
    <span style="transform: rotate(440deg);">l</span>
    <span style="transform: rotate(450deg);">a</span>
    <span style="transform: rotate(460deg);">v</span>
    <span style="transform: rotate(470deg);">r</span>
    <span style="transform: rotate(480deg);">a</span>
    <span style="transform: rotate(490deg);">s</span>
    <span style="transform: rotate(500deg);"> </span>
    <span style="transform: rotate(510deg);">s</span>
    <span style="transform: rotate(520deg);">o</span>
    <span style="transform: rotate(530deg);">n</span>
    <span style="transform: rotate(540deg);">h</span>
    <span style="transform: rotate(550deg);">a</span>
    <span style="transform: rotate(560deg);">m</span>
  </div>
  {% include menu.html %}
  {% if site.title %}
  <h1>
    Dentro dos livros<br class="title-break"> as palavras sonham
  </h1>
  {% endif %}
  {% if site.title %}
  <h2>
    {{ site.description }}
  </h2>
  {% endif %}
</header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
    Page {{ paginator.page }}
    {% else %}
    Contents
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}

  <ul class="post-list">
    {% for post in paginator.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}

  <div class="post-pagination">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
    <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="pagination-previous btn">Newer&nbsp;&rang;</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
  </div>

  {% endif %}

  {% else %}

  <ul class="post-list">
    {% for post in site.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% endif %}


</main>
